body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    background-image: url('/images/background.jpg');
    background-repeat: repeat;
    background-position: top left;
}

.container {
    max-width: 800px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #EBF0F2;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    margin-top: 10px;
}

.btn-primary {
    background-color: #257abd !important; /* Your custom blue */
    border-color: #257abd !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #1370b7 !important; /* A darker shade for hover/active */
    border-color: #1370b7 !important;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #007bff;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.alert {
    margin-top: 20px;
}

.question-label {
    width: 120px; /* Adjust as needed for your longest label */
    min-width: 120px;
    white-space: nowrap;
}