body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    background-image: url('/images/background.jpg');
    background-repeat: repeat;
    background-position: top left;
}

.container {
    max-width: 800px;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #EBF0F2;
}

.btn-primary {
    background-color: #257abd !important;
    /* Your custom blue */
    border-color: #257abd !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #1370b7 !important;
    /* A darker shade for hover/active */
    border-color: #1370b7 !important;
}

@media print {
    body * {
        visibility: hidden;
    }

    .print-hidden {
        display: none !important;
    }

    #print-results,
    #print-results * {
        visibility: visible;
    }

    #print-results {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}